nav span.lange, span.colored{
    color:#3273D9 !important;
}

nav a:hover span.lange{
    color:#4a4a4a !important;
}

footer .social-links{
    margin-bottom:2em;
    color:#4a4a4a;
}

footer a{
    color:#4a4a4a;
    font-weight: bold;
}

footer .social-links a{
    margin:0 1em 0 1em;
}

.is-info{
    background-color:#3273d9 !important;
}

figure.me img{
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}
p.me, #resume p.cta{
    margin:1em 0;
    line-height: 1.5em;
}
h2.title{
    margin-bottom:2em !important;
}
h2.title:after{
    display:block;
    width: 100px;
    height: 3px;
    background: #3273d9;
    content: "";
    margin: 0.5em  auto;
}
#resume .item p.description{
    min-height: 1.5em;
}

#hello .image{margin:auto;}


#projects .is-project figure{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    max-height:250px;
}


#projects .is-project figure img.project-thumb {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}


#projects .is-project figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0rem 3rem;
    color: #fff;
    z-index: 1
}

#projects .is-project figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .45s ease-in-out;
    transition: .45s ease-in-out
}

#projects .is-project figcaption h1{
    position: absolute;
    left: 0.5em;
    bottom:0.5em;
    color:#fff;
    text-shadow: 1px 1px 5px black;
}
#projects .is-project figcaption h1 .tag{
    color:#fff !important;
}


#projects .is-project figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

#projects .is-project figure:hover figcaption {
    opacity: 1
}